@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #0638e5;
  --color-light: #f8fafc;
  --color-muted: #a1a1aa;
  --color-dark: #09090b;
  --color-surface: #1c1e22;

  --animate-pulse-slow: pulse-slow 0.3s ease-out;
  --animate-scroll-down: scrollDown 1.5s infinite;
  
  @keyframes pulse-slow {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scrollDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
}

@utility container {
  width: 100%;
  max-width: 1400px;
  padding-inline: 20px;
  margin-inline: auto;
}

/* Global styles */
h1, h2, h3, h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.animate-line {
  max-width: 500px;
  height: auto;
}

.line1, .line2, .line3, .line4, .line5, .line6, .line7 {
  visibility: hidden;
}

.line-animation.line1 {
  visibility: visible;
  stroke: white;
  stroke-dasharray: 2900;
  stroke-dashoffset: 2900;
  animation: 3s linear 0s 1 normal forwards running ffGLem;
}

.line-animation.line2 {
  visibility: visible;
  stroke: white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: 1s linear 2s 1 normal forwards running ffGLem;
}

.line-animation.line3, .line-animation.line4, .line-animation.line5, .line-animation.line6 {
  visibility: visible;
  stroke: white;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: 4s linear 2.8s 1 normal forwards running ffGLem;
}

.line-animation.line7 {
  stroke: white;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: 3.5s linear 3.2s 1 normal forwards running ffGLem;
}

@keyframes ffGLem {
  100% {
    stroke-dashoffset: 0;
  }
}